@media (max-width:991px){
    .top{
        #slider-top{
            width: 100% !important;
        }
    }
    .testimonials{
        .testimontials_slider{
            width: 100%;
        }
    }
    .section-map{
        .content{
            width: 70%;
        }    
    } 
}
@media (max-width:768px){
    .one-of-four{
        width: 50%;
    }
    .counter-section{
        article{
            margin-bottom: 20px;
        }
    }
    .testimonials{
        .testimontials_slider{
            padding-right: 110px;
            .item{
                
                .carousel-caption{
                    padding-right: 0;
                    width: 100%;
                }
                .person{
                    position: relative;
                }
            }
        }
    }
    .section-map{
        .content{
            width: 100%;
        }    
    } 
}
@media (max-width:480px){
    .one-of-four{
        width: 100%;
    }
}