@import "../css/bootstrap.min.css";
@import "../css/bootstrap-theme.min.css";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?xro5de');
  src: url('../fonts/icomoon.eot?xro5de#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?xro5de') format('truetype'), url('../fonts/icomoon.woff?xro5de') format('woff'), url('../fonts/icomoon.svg?xro5de#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-compass:before {
  content: "\e800";
}
.icon-bubble2:before {
  content: "\e801";
}
.icon-menu:before {
  content: "\e802";
}
.icon-cross:before {
  content: "\e803";
}
.icon-settings:before {
  content: "\e804";
}
.icon-bubble:before {
  content: "\e805";
}
.icon-paperplane:before {
  content: "\e806";
}
/* Fonts */
/* Colors */
.text-center {
  text-align: center;
}
.box-border {
  border: 2px solid #b2b2aa;
  padding: 34px 25px;
}
h3 {
  font-size: 3.2rem;
  color: #56553f;
  text-transform: uppercase;
}
i {
  font-size: 4rem;
  margin-bottom: 25px;
  display: inline-block;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* blocks */
section.top {
  background-image: url(../img/top_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 95px;
}
.about {
  padding-bottom: 100px;
}
.about h3 {
  margin-bottom: 50px;
}
.about .content {
  margin: 0 auto;
  width: 70%;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 100px;
}
.about article {
  font-size: 1.6rem;
  margin-bottom: 27px;
}
.about article h4 {
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.about article p {
  line-height: 2.4rem;
}
.features h3 {
  margin-bottom: 65px;
}
.features article {
  font-size: 1.6rem;
  margin-bottom: 27px;
}
.features article h4 {
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.features article p {
  line-height: 2.4rem;
}
.counter {
  background-color: #2f2f2b;
  padding-top: 60px;
  padding-bottom: 80px;
}
.counter article {
  border-color: #6e6e55;
}
.counter article div {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.counter article div.middle {
  font-size: 8rem;
}
.counter article div.bottom {
  margin-top: 40px;
}
.counter article div.top {
  margin-bottom: 40px;
}
body,
html {
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-family: 'PT Sans', sans-serif;
  color: #56553f;
}
body {
  right: 0;
  margin: 0;
  position: relative;
}
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0c0c0c;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
#status {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  box-shadow: 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49, 15px -15px #dfdfdf;
  -webkit-animation: spin ease infinite 4s;
}
@-webkit-keyframes spin {
  0%,
  100% {
    box-shadow: 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49, 15px -15px #dfdfdf;
  }
  25% {
    box-shadow: -15px 15px #dfdfdf, -15px -15px #4f4d49, 15px -15px #dfdfdf, 15px 15px #4f4d49;
  }
  50% {
    box-shadow: -15px -15px #4f4d49, 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf;
  }
  75% {
    box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
  }
}
